<!--Reset Password-->
<div class="card-body py-4 px-sm-4">
    <div class="col-md-12 text-center p-0">
        <h4 class="text-white font-bebas text-uppercase text-white font-32 mb-3">Reset Password</h4>
    </div>
    <span class="clearfix"></span>
    <form id="resetPasswordForm" autocomplete="off" onSubmit="return false;">
        <div class="form-group">
            <div class="input-group input-group-merge">

                <input type="password" id="txtOldPassword" class="form-control validate {req,Old Password}" Placeholder="Temp Password" value="" style="height: calc(1.5em + .75rem + 8px);padding: .375rem .85rem !important;" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-merge">

                <input type="password" class="form-control validate {req,mincl,5,pwdcmp,txtNewConfirmPassword,New Password}" name="txtNewPassword" id="txtNewPassword" Placeholder="New Password" value="" style="height: calc(1.5em + .75rem + 8px);padding: .375rem .85rem !important;" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-merge">
                <input type="password" id="txtNewConfirmPassword" class="form-control validate {req,Confirm Password}" Placeholder="Confirm Password" value="" style="height: calc(1.5em + .75rem + 8px);padding: .375rem .85rem !important;" />
            </div>
        </div>
        <div class="p-0 mt-2 float-left w-100">
            <button type="button" class="btn btn-block btn-primary py-2" onclick="Save()">Save</button>
        </div>
        <a href="/SignIn/Index?id=logout" class="py-2 px-0 mt-2 text-white text-left float-left font-weight-semilbold " onfocus="onfocus()">Return to login</a>
    </form>
</div>

<script>
    function Save() {
        if (ValidatePage("#resetPasswordForm", "control", "")) {
            var post = new Object();
            post.oldPassword = $("#txtOldPassword").val();
            post.newPassword = $("#txtNewPassword").val();
            post.confirmPassword = $("#txtNewConfirmPassword").val();
            post.UsrUserId= '@ViewBag.UserDetail';
            InitAjaxLoading();
            $.ajax({
                url: _APPLocation + 'Signin/ResetTempPassword',
                data: post,
                type: 'POST',
                success: function (data) {
                    HideAjaxLoading();
                    if (data.isSuccess) {
                        app.ShowSuccessMessage(data.message);
                        setTimeout(function () {
                            window.location.href = '/SignIn/Index?id=logout';
                         }, 3000);
                    }
                    else {
                        app.ShowErrorMessage(data.message);
                    }
                },
                error: function () {
                    HideAjaxLoading();
                    app.ShowErrorMessage("Error in Reseting, Kindly retry later");
                }
            });
        }
    }
</script>
