@{
    ViewBag.TabTitle = "Image Download";
    ViewData["Title"] = "Image Download";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}
<div class="container" style="margin-top:15%;margin-left:30%">
    <h1>Oops!</h1>
    <h3>The Page You are looking might be removed</h3>
    <h3>had its name changed or it is temporarily unavailable.</h3>
</div>