
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>500 Internal Server Error</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/custom.css?v=1.12" />
</head>
<body>
    <div id="">
        <!--403 Forbidden Error-->
        <section>
            <div class="container d-flex flex-column">
                <div class="row align-items-center justify-content-between min-vh-100">
                    <div class="col-12 col-md-6 col-xl-7 order-md-2">
                        <img src="~/assets/media/403-Forbidden.svg" class="img-fluid" />
                    </div>
                    <div class="col-12 col-md-6 col-xl-5 order-md-1 text-center text-md-left">
                        <h6 class="display-2 mb-0 font-weight-bold">403</h6>
                        <h6 class="display-5 mb-3 font-weight-bold">Access Forbidden</h6>
                        <p class="lead text-lg mb-5">Sorry, but you don't have permission to access this page. Please refer to your system administrator.</p>
                        <a href="/home" class="btn btn-themebtn btn-icon hover-translate-y-n3">
                            <span class="btn-inner--text">Go Back</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
