<div class="main-container" id="container">
    <div id="content">
        <table id="FormN2GridView" class="table w-100 nowrap">
        </table>
    </div>
</div>
<style>
    .headcol {
        position: sticky;
        left: 0;
    }
</style>
@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;
<!-- Jquery DataTable JS library -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/CDTGrid.js"></script>
<script>
    var isModifyPerm = @security.IsPCModify(ModuleNameList.Routine_Maintanance_Work).ToString().ToLowerInvariant()? "" : 'hidden';
    var isDeletePerm = @security.IsPCDelete(ModuleNameList.Routine_Maintanance_Work).ToString().ToLowerInvariant()? "" : 'hidden';
    var table_columns = [];
    var actionCol = {
        data: null, name: "Action", title: "Action", class: "headcol", autoWidth: false, width: 25, sortable: false, render: function (data,type, full) {
            var actionSection = "<div class='btn-group dropright' id='actiondropdown'> <button id='actionclick' type='button' class='btn btn-sm btn-themebtn dropdown-toggle' data-toggle='dropdown'> Click Me </button><div class='dropdown-menu'><button type='button' class='dropdown-item editdel-btns'" + isModifyPerm + "  id='formNHeaderEdit' onclick='javascript:EditFormN2(" + data.no + ",0);'><span class='edit-icon'></span> Edit</button><button type='button' class='dropdown-item editdel-btns'"+isDeletePerm+" onclick='javascript:DeleteHeaderRecord(" + data.no + ");'><span class='del-icon'></span> Delete</button><button type='button' class='dropdown-item editdel-btns' id='btnAssetView' href='#'  onclick='javascript:EditFormN2(" + data.no + ",1);'><span class='view-icon'></span> View</button><button type='button' class='dropdown-item editdel-btns' id='btnAssetView' onclick='javascript:PrintForm(" + data.no + ");' href=''><span class='print-icon'></span> Print</button></div></div>";
            var viewaction = "<div class='btn-group dropright' id='actiondropdown'> <button id='actionclick' type='button' class='btn btn-sm btn-themebtn dropdown-toggle' data-toggle='dropdown'> Click Me </button><div class='dropdown-menu'><button type='button' class='dropdown-item editdel-btns'" + isDeletePerm + " onclick='javascript:DeleteHeaderRecord(" + data.no + ");'><span class='del-icon'></span> Delete</button><button type='button' class='dropdown-item editdel-btns' id='btnAssetView' href='#'  onclick='javascript:EditFormN2(" + data.no + ",1);'><span class='view-icon'></span> View</button><button type='button' class='dropdown-item editdel-btns' id='btnAssetView' onclick='javascript:PrintForm(" + data.no + ");' href=''><span class='print-icon'></span> Print</button></div></div>";
            return full["submitStatus"] == true ? viewaction : actionSection;
        }
    };
    var refNoCol = { data: "ncrNo", name: "No", title: "NCR No.", autoWidth: false, width: 250, sortable: true };
    var rmuRmuCol = { data: "rmu", name: "Rmu", title: "RMU", autoWidth: true, sortable: true };
    var roadCodeCol = {
        data: "",
        render: function (data, type, full, meta) {
            return full["n1HeaderDetails"] != null ? full["n1HeaderDetails"].roadCode : "";
        },
        name: "Road Code", title: "Road Code", autoWidth: true, sortable: true
    };
    var roadNameCol = {
        data: "", render: function (data, type, full, meta) {
            return full["n1HeaderDetails"] != null ? full["n1HeaderDetails"].roadName : "";
        }, name: "Road Name", title: "Road Name", autoWidth: true, sortable: true };
    var chFromCol = {
        data: "fromChainage",
        render: function (data, type, full, meta) {
            return full["n1HeaderDetails"] != null ? full["n1HeaderDetails"].fromChainage + "." + full["n1HeaderDetails"].fromChainageDeci : "";
        },
        title: "Location Chainage", autoWidth: true, sortable: true
    };

    //var chToCol = {
    //    data: "toCh",
    //    render: function (data, type, full, meta) {
    //        return full["n1HeaderDetails"].toChainage + "+" + full["n1HeaderDetails"].toChainageDeci;
    //    }, title: "Chainage To", autoWidth: true, sortable: false
    //};

    //var correctTknCol = { data: "isCorrectionTaken", name: "Correction Taken", title: "Correction Taken", autoWidth: true, sortable: false };
    //var ncrCol = { data: "iSNcrIssued", name: "NCR", title: "NCR?", autoWidth: true, sortable: false };
    var verByCol = { data: "verifiedByUsername", name: "Verified By", title: "Verified By", autoWidth: true, sortable: true };

    /*var submitStsCol = {
        data: "submitStatus",
        render: function (data, type, full, meta) {
            return full["submitStatus"] == true ? "Submitted" : "Saved";
        }, title: "Status", autoWidth: true, sortable: true
    };*/

    var submitStsCol = { data: "status", name: "Status", title: "Status", autoWidth: true, sortable: true };


    table_columns.push(actionCol);
    table_columns.push(refNoCol);
    table_columns.push(rmuRmuCol);
    table_columns.push(roadCodeCol);
    table_columns.push(roadNameCol);
    table_columns.push(chFromCol);
    //table_columns.push(chToCol);
    //table_columns.push(correctTknCol);
    //table_columns.push(ncrCol);
    table_columns.push(verByCol);
    table_columns.push(submitStsCol);

    function PrintForm(id) {
        window.location.href = '/mam/N2Download?id=' + id;
    }

    var filterData = new Object();
    function InitializeGrid() {
        var _currentGridSettings = new CustomGridSettings();
        $.extend($.fn.dataTable.defaults, _currentGridSettings);

        filterData.SmartInputValue = $("#FormN2SmartSearch").val();
        filterData.RMU = $("#formN2DetSrchRMU").val();
        filterData.Road_Code = $("#formN2DetSrchRoadCode").val();
        filterData.IssueMonth = $("#formN2DetSrchMonth").val();
        filterData.IssueFrom = $("#formN2DetSrchIssueFrom").val();
        filterData.IssueTo = $("#formN2DetSrchIssueTo").val();

        $('#FormN2GridView').DataTable({
            ajax: {
                url: "/MAM/LoadFormN2List",
                type: "POST",
                datatype: "json",
                data: {
                    filterData 
                }
            },
            columns: table_columns
        });
    }

    $(document).ready(function () {
        InitializeGrid();

        //Apply Custom search on jQuery DataTables here
        oTable = $('#FormN2GridView').DataTable();
        $('#formN2SearchBtn').click(function () {
            oTable.columns(0).search($("#FormN2SmartSearch").val().trim());
            oTable.columns(1).search($("#formN2DetSrchRMU").val().trim());
            oTable.columns(2).search($("#formN2DetSrchRoadCode").val().trim());
            oTable.columns(3).search($("#formN2DetSrchMonth").val().trim());
            oTable.columns(4).search($("#formN2DetSrchIssueFrom").val().trim());
            oTable.columns(5).search($("#formN2DetSrchIssueTo").val().trim());
            oTable.data = filterData;
            oTable.draw();
        });
    });
</script>
