# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/RAMMS.Business.ServiceProvider/bin
/RAMMS.Business.ServiceProvider/obj
/RAMMS.Common/bin
/RAMMS.Common/obj
/RAMMS.Common.ServiceProvider/bin
/RAMMS.Common.ServiceProvider/obj
/RAMMS.Data/bin
/RAMMS.Data/obj
/RAMMS.Domain/bin
/RAMMS.Domain/obj
/RAMMS.DTO/obj
/RAMMS.DTO/bin
/RAMMS.EFDataAccess/bin
/RAMMS.EFDataAccess/obj
/RAMMS.Repository/bin
/RAMMS.Repository/obj
/RAMMS.Web.UI/bin
/RAMMS.Web.UI/obj
/RAMMS.Web.UI/Logs
/RAMMS.Web.UI/appsettings.Development.json
/RAMMS.Business.ServiceProvider/bin
/RAMMS.Business.ServiceProvider/.vs/RAMMS.Business.ServiceProvider/DesignTimeBuild/.dtbcache
/RAMMS.Business.ServiceProvider/.vs/RAMMS.Business.ServiceProvider/v16/Server/sqlite3
/RAMMS.Business.ServiceProvider/.vs/RAMMS.Business.ServiceProvider/v16/.suo
/RAMMS.Business.ServiceProvider/obj
/.vs/RAMMS.Web.UI/DesignTimeBuild/.dtbcache
/.vs/RAMMS.Web.UI/v16/Server/sqlite3
/RAMMS.Common/bin
/RAMMS.Common/obj
/RAMMS.Business.ServiceProvider/obj
/RAMMS.Root/bin/Debug/netcoreapp3.1
/RAMMS.Root/obj/Debug/netcoreapp3.1
/RAMMS.Root/obj
/RAMMS.Web.UI/obj
/RAMMS.Web.UI/bin
/RAMMS.WebAPI/obj/Debug/netcoreapp3.1
/RAMMS.WebAPI/bin/Debug/netcoreapp3.1
/RAMMS.WebAPI/obj
/RAMMS.Common.ServiceProvider/obj
/.vs


/RAMMS.Web.UI/wwwroot/importFiles
/RAMMS.Web.UI/Views/ERT/FormX/FormX - Copy.cshtml
/RAMMS.Web.UI/wwwroot/Uploads/FormD/61
/RAMMS.Root/bin/Release/netcoreapp3.1
/RAMMS.WebAPI/.config
/RAMMS.WebAPI/bin/Release/netcoreapp3.1
/RAMMS.Web.UI/.config
/RAMMS.Web.UI/Controllers/TestController1.cs
/RAMMS.WebAPI/Controllers/APIAuthorize.cs
/RAMMS.MobileApps
/RAMMS.Web.UI/wwwroot/assets/js/Views/FormS1.js
/RAMMS.Web.UI/Views/FormS1/FormS1.cshtml
/RAMMS.Web.UI/Controllers/FormS1Controller.cs
/UpgradeLog.htm
